@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(0, 0, 0);
  /* width: 100%;
  max-width: 1045px;
  margin: 0 auto; */
  /* border: 2px solid yellow; */
}
/* navbar-banner styles s */

.header {
  width: 100%;
  max-width: 1045px;
  margin: 0 auto;
  margin-top: 57px;
  /* border: 2px solid rgb(53, 30, 30); */
  height: 715px;
}
.nav-banner-section {
  /* border: 2px solid rgb(224, 193, 188); */
  height: 715px;
  position: relative;
  /* width: 100%;
  max-width: 1045px; */
  /* margin: 0 auto; */
}
.navbar {
  display: flex;
  justify-content: space-between;

  align-items: center;
}
.main-nav {
  font-size: 2.25rem;
  font-weight: 800px;
  color: rgb(230, 83, 60);
  height: 120%;
}
.btn-container {
  box-sizing: border-box;
  border-radius: 39px;
  padding: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.primary-btn {
  margin-left: 30px;
  border: none;
  background: none;
  font-size: 1.125rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.home-btn {
  font-size: 1.125rem;
  background-color: rgb(230, 83, 60);
  font-weight: 600px;
  border-radius: 46px;
  padding: 8px 20px;
  margin-left: 0px;
  border: none;
  color: rgb(255, 255, 255);
}
.join-btn {
  font-size: 1.125rem;
  background-color: rgb(230, 83, 60);
  height: 54px;
  width: 224px;
  font-weight: 600px;
  border-radius: 46px;
  padding: 8px 20px;
  margin-left: 0px;
  border: none;
  color: rgb(255, 255, 255);
}
.download-btn {
  font-size: 1.125rem;
  border: 1px solid rgb(255, 255, 255);
  font-weight: 600px;
  border-radius: 46px;
  padding: 8px 20px;
  height: 54px;
  width: 224px;
  background: none;
  color: rgb(255, 255, 255);
  margin-left: 10px;
}

.banner-container {
  display: flex;
  gap: 200px;
}
span {
  font-family: "Miama", sans-serif;
  font-size: 78px;
  font-weight: 400px;
}
.banner-title {
  font-weight: 900px;
  font-size: 78px;
  line-height: 90px;
  /* color: rgb(255, 255, 255); */
  margin: 0;
  color: rgb(255, 255, 255);
}
.banner {
  margin-top: 80px;
}
.details {
  font-size: 1rem;
  font-weight: 400px;
  line-height: 24px;
  margin-top: 28px;
  color: rgba(255, 255, 255, 0.5);
}

.img-container {
  margin-top: 30px;
  width: 350px;
  height: 580px;
}
.img-container img {
  width: 100%;
}
.token1 {
  position: absolute;
  bottom: 85px;
  right: 280px;
  margin-top: 100px;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  width: 206px;
  height: 96px;
  background-color: rgba(48, 48, 48, 0.54);
  /* filter: blur(5px);
  -webkit-filter: blur(1px); */
}
.token1 h5 {
  margin: 0;
  font-size: 23px;
  font-weight: 900px;
  color: rgb(250, 250, 249);
}
.token1 p {
  margin: 8px 0 0 0;
  font-size: 16px;
  font-weight: 400px;
  color: rgba(239, 237, 232, 0.65);
}
.ball {
  height: 40px;
  width: 40px;
  background-color: rgb(230, 83, 60);
  border-radius: 50%;
}
.ball-container {
  margin: 28px 0 28px 23px;
}
.h5-p {
  margin: 20px 23px 20px 12px;
}
.token2 {
  position: absolute;
  bottom: 380px;
  right: -70px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  width: 206px;
  height: 96px;
  background-color: rgba(48, 48, 48, 0.54);
}
.token2 h2 {
  font-size: 40px;
  font-weight: 900px;
  margin: 0;
  /* margin: 17px 53px 0px 24px; */
  color: rgb(255, 255, 255);
}
.token2 p {
  font-size: 13px;
  font-weight: 400px;
  color: rgba(255, 255, 255, 0.65);
  margin: 0;
}
.h2-p {
  margin: 17px 53px 16px 24px;
}
.ham-burger {
  display: none;
}
/* nav-ber banner style ends here */
/* HABITS SECTION STARTS HERE */
.habit-section {
  /* border: 2px solid rgb(93, 237, 194); */
  width: 100%;
  max-width: 1045px;
  margin: 0 auto;
  height: 452px;
  margin-top: 100px;
}
.habit-description {
  text-align: center;
  /* border: 2px solid slategray; */
  height: 115px;
}
.habit-description h2 {
  font-size: 48px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  /* line-height: 120%; */
  margin: 0 0 14px 0;
}

.habit-img-container {
  /* border: 2px solid chocolate; */
  height: 274px;
  margin-top: 58px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 38px;
}

.common-habit-img {
  /* border: 1px solid yellowgreen; */
  width: 230px;
  height: 274px;
  text-align: center;
}
.circle-img-container {
  background-color: #1a1a1a;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  padding: 5px;
  margin: 0 auto;
}
.circle-img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.habit-h6 {
  margin: 30px 0px 0px 0px;
  font-size: 18px;
  font-weight: 600px;
  color: rgb(255, 255, 255);
  margin: 25px 0 5px 0;
}
.habit-pera {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  margin: 0px;
  /* margin-top: 14px; */
}
/* HABIT SECTION ENDS HERE */

/* RUN SECTION STARTS HERE */
.run-section {
  /* border: 2px solid limegreen; */
  width: 100%;
  max-width: 1045px;
  height: 375px;
  margin: 100px auto;
  border-radius: 18px;
  background-color: rgb(34, 34, 34);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 140px;
}
.run-description {
  margin: 35px 0 0 55px;
}
.run-img {
  height: 312px;
  width: 366px;
  border-radius: 18px;
  margin: 30px 0px 0px 40px;
}
.run-description h2 {
  font-size: 48px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  margin: 0 0 14px 0;
}
.run-pera {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 0px;
}
.run-btn {
  font-size: 1.125rem;
  background-color: rgb(230, 83, 60);
  height: 54px;
  width: 224px;
  font-weight: 600px;
  border-radius: 42px;
  padding: 16px 40px;
  margin: 30px 0 0 0;
  border: none;
  color: rgb(255, 255, 255);
}
/* .bmi-section {
  display: none;
} */
.bmi-heading {
  width: 670px;
  margin: 80px auto;
  /* border: 2px solid pink; */
}
.bmi-h2 {
  font-size: 48px;
  font-weight: 900px;
  color: rgb(255, 255, 255);
  margin: 0;
}
.bmi-description {
  height: 500px;
  /* padding: 52px 160px; */
  /* border: 2px solid chocolate; */
  background-color: rgb(34, 34, 34);
}
.bmi {
  width: 1045px;
  margin: 5px auto;
  display: flex;
  gap: 180px;
  /* border: 2px solid rgb(239, 10, 10); */
}
.tab {
  /* border: 2px solid rgb(254, 236, 77); */
  width: 38%;
}
table {
  margin-top: 50px;
  border: 1px solid wheat;
  border-collapse: collapse;
  width: 310px;
}
td {
  padding: 12px 18px;
  font-size: 14px;
  font-weight: 400px;
  color: rgba(255, 255, 255, 0.5);
}

th {
  padding: 15px;
  font-size: 16px;
  font-weight: 500px;
  color: rgb(255, 255, 255);
}
td,
th {
  border: 1px solid rgba(255, 255, 255, 0.1);
  /* padding: 12px 0px 0px 18px; */
}
.bmi-h4 {
  font-weight: 900px;
  font-size: 28px;
  color: rgb(255, 255, 255);
  margin-top: 50px;
  margin-bottom: 0px;
}

.form-container {
  /* border: 2px solid rgb(247, 243, 243); */
  width: 62%;
}
.form {
  margin-top: 30px;
}
.input {
  width: 245px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  margin-top: 12px;
  padding-left: 12px;
}
.diff {
  margin-left: 8px;
}
.last-input {
  width: 520px;
  height: 48px;
  margin-top: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  padding-left: 12px;
}
.bmi-btn {
  font-size: 1.125rem;
  background-color: rgb(230, 83, 60);
  height: 54px;
  width: 224px;
  font-weight: 600px;
  border-radius: 42px;
  padding: 16px 40px;
  margin: 30px 0 0 0;
  border: none;
  color: rgb(255, 255, 255);
}
/* responsive section */
@media screen and (max-width: 576px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  .header {
    height: 100%;
    max-width: 90%;
  }
  .join-btn {
    width: 170px;
    margin: 20px 0px;
  }
  .download-btn {
    width: 170px;
    margin: 20px 0px 0px 5px;
  }
  /* body {
    max-width: 90%;
  } */
  .btn-container {
    display: none;
  }

  .ham-burger {
    display: block;
    color: #fff;
  }
  .banner-container {
    flex-direction: column;
    gap: 50px;
  }
  .img-container {
    margin: 0px;
  }
  .token1 {
    position: absolute;
    bottom: -115px;
    right: 180px;
    width: 160px;
    height: 72px;
  }
  .token1 h5 {
    font-size: 19px;
  }
  .token1 p {
    font-size: 12px;
    margin-top: 0px;
  }
  .ball {
    height: 30px;
    width: 30px;
  }
  .ball-container {
    margin: 21px 0 21px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .token2 {
    position: absolute;
    bottom: 100px;
    right: 10px;
    width: 150px;
    height: 72px;
  }
  .h2-p {
    margin: 12px 0px 0px 18px;
  }
  .token2 h2 {
    margin-top: 0;
    font-size: 30px;
  }
  .token2 p {
    font-size: 9px;
  }
  .banner-title {
    font-size: 36px;
    font-weight: 900px;
    margin: 0;
    line-height: 40px;
  }
  span {
    font-size: 60px;
  }
  .banner {
    margin-top: 0px;
  }

  /* HABIT SECTION RESPONSIVE */
  .habit-section {
    max-width: 90%;
    margin-top: 370px;
  }
  .habit-img-container {
    /* border: 2px solid chocolate; */
    /* height: 274px; */
    /* margin-top: 58px; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* gap: 38px; */
  }
  .habit-description h2 {
    font-size: 32px;
  }
  .habit-pera {
    margin-top: 14px;
  }
  .common-habit-img {
    margin: 0 auto;
  }
  /* RUN SECTION RESPONSIVE */

  .run-section {
    max-width: 90%;
    margin-top: 1050px;
    height: 100%;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
  }
  .run-description {
    margin: 0px;
    padding: 33px;
  }
  .rn-sec-img {
    padding: 0px 33px 33px 33px;
  }
  .run-description h2 {
    font-size: 32px;
  }

  .run-btn {
    width: 285px;
    /* margin: 20px; */
  }

  .run-img {
    margin: 0;
    /* display: block; */
    width: 285px;
    height: 170px;
  }
  .line-brk {
    display: none;
  }

  /* BMI SECTION START HERE */
  .bmi-h2 {
    font-size: 32px;
  }
  .bmi-heading {
    width: 90%;
  }
  .bmi-description {
    width: 100%;
    height: 780px;
    /* margin: 0 -76px
     */
  }
  .bmi {
    flex-direction: column;
    gap: 0px;
    width: 90%;
  }
  .tab {
    /* width: 90%; */
    width: 310px;
  }
  .bmi-h4 {
    font-size: 16px;
  }
  .form-container {
    width: 100%;
  }
  .input {
    width: 148px;
  }
  .last-input {
    width: 325px;
  }
}
